* {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}

#container {
    width: calc(100% - 20px);
    max-width: 400px;
    height: fit-content;
}

h1 {
    width: fit-content;
    height: fit-content;
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    width: fit-content;
    height: fit-content;
    color: #ababab;
}

input {
    width: calc(100% - 40px);
    height: fit-content;
    padding: 10px 20px;
    margin: 40px 0 10px 0;
    border: 1px solid #ababab;
    border-radius: 4px;
}

button {
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#generate-btn {
    background-color: #002b64;
}

#generate-btn:hover {
    background-color: #03234f;
}

#download-btn {
    visibility: hidden;
    background-color: #436c32;
}

#download-btn:hover {
    background-color: #194f03;
}

#qrcode-container {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 30px 0;
}